body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

#logo{
    padding: 20px;
    margin-left: 15px;
}

ol li{
    padding-left: 0px;
    padding-right: 30px;
    color: hsl(0, 0%, 41%);
}

a:hover{
    cursor: pointer;
    color: hsl(0, 0%, 8%);
}

.new_nav{
    display: none;
}

.imgli{
    padding-left: 5px;
}

.buts{
    margin-left: 40rem;
}

#but1{
    border: none;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    padding-right: 15px;
}

#but1:hover{
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

#but2:hover{
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: solid hsl(0, 0%, 8%) 2px;
    cursor: pointer;
}

#but2{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: solid hsl(0, 0%, 41%) 2px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
}

.downlist{
    display: none;
}

#menu{
    position: absolute;
    left: 43.5rem;
    top: 20px;
}

#divimg{
    display: none;
}

h1{
    font-size: 76px;
    font-weight: 700;
}

div p{
    line-height: 25px;
    color: hsl(0, 0%, 41%);
    padding-right: 15rem;
    padding-bottom: 2rem;
}

#but3{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5rem;
}

#but3:hover{
    border: solid hsl(0, 0%, 8%) 1px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

.client{
    padding-right: 35px;
}

@media screen and (min-width: 376px) {
    .flex-con{
        display: flex;
        align-items: center;
    }

    #divimg{
        display: block;
        padding-left: 3rem;
        width: 30rem;
        height: 33rem;
    }

    #div2 img{
        visibility: visible;
    }

    a:hover{
        margin-right: 5px;
        margin-top: 2rem;
    }

    a:hover .downlist{
        display: block;
        background-color: hsl(0, 0%, 100%);
        margin-top: 0;
        margin-left: -3rem;
        margin-bottom: -9rem;
        padding: 15px 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px;
    }

    a:hover .imgli{
        display: none;
    }

    .second{
        display: none;
    }

    a:hover .second{
        display: inline;
        color: hsl(0, 0%, 8%);
    }

    .downlist li{
        padding: 5px;
    }

    .downlist img{
        padding-right: 10px;
    }

    #mobile{
        display: none;
    }
    
    #div1{
        width: 50%;
        padding-left: 10rem;
        margin-top: 2rem;
    }

    #div2{
        padding-top: 3rem;
        padding-right: 10rem;
    }

    .new_nav{
        display: block;
    }

    #menu{
        display: none;
    }
}